<div class="row justify-content-center">
    <div class="col-md-4">
        <a class="btn btn-success mb-4" [routerLink]="['/booking']">Back to Booking</a>
        <form (ngSubmit)="updateBooking()" >
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email" [(ngModel)]="booking.email">
            </div>
            <div class="form-group">
                <label for="bookingdate">Booking Date</label>
                <input type="date" class="form-control" name="bookingdate" id="bookingdate" [(ngModel)]="booking.bookingDate">
            </div>
            <div class="form-group">
                <label for="bookingtime">Booking Time</label>
                <input type="time" class="form-control" name="bookingtime" id="bookingtime" [(ngModel)]="booking.bookingTime">
            </div>
            <div class="form-group">
                <label for="fromplaceid">From Place Id</label>
                <input type="number" class="form-control" name="fromplaceid" id="fromplaceid" [(ngModel)]="booking.fromPlaceId">
            </div>
            <div class="form-group">
                <label for="toplaceid">To Place Id</label>
                <input type="number" class="form-control" name="toplaceid" id="toplaceid" [(ngModel)]="booking.toPlaceId">
            </div>
            <div class="form-group">
                <label for="pickupaddress">Pickup Address</label>
                <input type="text" class="form-control" name="pickupaddress" id="pickupaddress" [(ngModel)]="booking.pickUpAddress" >
            </div>
            <div class="form-group">
                <label for="landmark">Landmark</label>
                <input type="text" class="form-control" name="landmark" id="landmark" [(ngModel)]="booking.landmark">
            </div>
            <div class="form-group">
                <label for="pickupdate">Pickup Date</label>
                <input type="date" class="form-control" name="pickupdate" id="pickupdate" [(ngModel)]="booking.pickupDate">
            </div>
            <div class="form-group">
                <label for="pickuptime">Pickup Time</label>
                <input type="time" class="form-control" name="pickuptime" id="pickuptime" [(ngModel)]="booking.pickupTime">
            </div>
            <div class="form-group">
                <label for="cabtypeid">Cab Type Id</label>
                <input type="number" class="form-control" name="cabtypeid" id="cabtypeid" [(ngModel)]="booking.cabTypeId">
            </div>
            <div class="form-group">
                <label for="contactNo">Contact Number</label>
                <input type="text" class="form-control" name="contactNo" id="contactNo" [(ngModel)]="booking.contactNo" >
            </div>
            <div class="form-group">
                <label for="status">Status</label>
                <input type="text" class="form-control" name="status" id="status" [(ngModel)]="booking.status">
            </div>
            <div class="row justify-content-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
